.form {
  width: 450px;
  height: 520px;
  background: #3AD886;
  position: absolute;
  top: 177px;
  right: 100px;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
}
.formImg {
  width: 320px;
  display: block;
  margin: 0 auto;
  min-height: 180px;
}
.formImg img {
  width: 100%;
}
.input {
  width: 100%;
}
.form button {
  height: 40px;
  border-radius: 10px;
  background: #ED6B5A;
}
