.product {
  position: relative;
  width: 600px;
  height: 230px;
  background: #D34735;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.productImg {
  width: 320px;
}
.productImg img {
  width: 100%;
}

.product  h1,h2 {
  position: absolute;
  float: right;
  font-family: 'Open Sans', sans-serif;
}
.product h1 {
  font-size: 20pt;
  left: 350px;
  top: 10px;
}
.product h2 {
  font-size: 16pt;
  left: 350px;
  top: 40px;
}
.btnDelete {
  position: absolute;
  left: 350px;
  bottom: 10px;
  height: 35px;
  border-radius: 10px;
  background: #3AD886;
  font-family: 'Open Sans', sans-serif;
}
.btnEdit {
  position: absolute;
  right: 15px;
  bottom: 10px;
  height: 35px;
  border-radius: 10px;
  background: #3AD886;
  font-family: 'Open Sans', sans-serif;
}